:root {
    --red:rgb(214, 99, 99) ;
    --pink:rgb(240,200,204) ;
    --yellow:rgb(255,211,0) ;
    --lightblue:rgb(152,213,239) ;
    --blue:rgb(71,118,181) ;
}


body {
margin: 0;
padding: 0;
margin-top: 0;
font-family: 'Roboto', sans-serif;;
background-color:var(--yellow) ;
}

.header {
    background-image: url('img\pokemon.jpg');
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    padding: 1.7vh;
    margin-top: 0%;
    height: 40vh;
    display: flex;
    justify-content: right;
    border: 1px solid black;
    border-radius: 0px 0px 1.7vh 1.7vh;
}


.header__title {
    font-size: 8vh;
    font-weight: bold;
    color: #FFF;
    font-family: 'Rock Salt', cursive;
    margin-right: 17vh;
}

.fav__button {
    width: 14vh;
    height: 14vh;
    position: fixed;
    bottom: 6%;
    right: 1%;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.623);
    animation: animationFavFixed 5s ease 0s 9999999999 normal forwards;
}

.block {
    margin: auto;
    margin-top: 5.2vh;
    font-size: 5.2vh;
    padding: 1.4vh;
    border: 3px solid var(--red);
    border-radius: 3.4vh;
    background-color: var(--red);
    width: 86vh;
}

.block__finder {
    height: 5.2vh;
    width: 50vh;
    margin-left: 3.4vh;
    margin-bottom: 2px ;
    border: 1px solid black;
    border-radius: 3.4vh;
    padding: 4px;
    font-size: 3.4vh;
    padding-left: 2.6vh;
}

.block__finder-suggest{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: baseline;
    background-color: #FFF;
}

.container {
    display: grid;
    margin: 3.4vh 10vh ;
    background-color: var(--blue) ;
    border: 3px solid var(--blue);
    border-radius: 10px;
    grid-template-columns: 40vh 40vh 40vh 40vh;
    justify-content: space-evenly;
    width: 90%;
}

.container__pokemons_container {
    width: 42vh;
    height: 60vh;
    margin: 3.4vh auto;
    color: #FFF;
    font-size: 3.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__pokemons{
    background-color: var(--lightblue);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 3.4vh auto;
    color: #FFF;
    font-size: 3.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42vh;
    height: 60vh;
}

.container__pokemons-modal{
    background-color: var(--lightblue);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 3.4vh auto;
    color: #FFF;
    font-size: 3.4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
    grid-column: 1 / 5 ;
    animation: modalInfo 0.9s ease 0s 1 normal forwards;
}

.container__pokemons__name {
    margin: auto;
    border: 2px solid white;
    border-radius: 10%;
    padding: 0.8vh 1.4vh;
    background-color: rgb(88, 88, 88);
    text-transform: uppercase;
}

.container__pokemons__info-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__pokemons__fav {
    width: 4vh;
    height: 4vh;
    display: flex;
    margin-right: 80%;
    border: 2px solid var(--lightblue);
    cursor: pointer;
}

.container__pokemons__fav:hover {
    width: 4vh;
    height: 4vh;
    display: flex;
    margin-right: 80%;
    border: 2px solid var(--lightblue);
    border-radius: 40%;
    background-color: lightblue;
    animation: animationFav 0.4s ease 0s 1 normal forwards;
}
.container__pokemons__img {
    margin: auto;
    width: 35vh;
    height: 35vh;
    animation: myAnimEntrance 0.9s ease 0s 1 normal forwards;
}

.container__pokemons__button {
    margin-left: 5.5vh;
    margin-bottom: 2vh;
    height: 6vh;
    width: 20vh;
    background-color: rgb(65, 114, 98);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 3vh;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.container__pokemons__button:hover {
    background-color: rgb(54, 165, 128);
}

.container__pokemons__button-info {
    width: 5vh;
    height: 5vh;
    margin-left: 4vh;
    background-color: rgb(188, 222, 236) ;
    border: 3px solid white;
    border-radius: 100%;
    color: white;
    font-size: 3vh;
    cursor: pointer;
    animation: animationFavFixed 10s ease 0s 9999999999 normal forwards;
}

.container__pokemons__button-info:hover {
    background-color: rgb(213, 229, 236) ;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 231) ;
    height: 10vh;
    width: 65vh;
    margin: auto;
    border-radius: 20vh;
    margin-bottom: 4vh;
}

.nav__container {
    flex-direction: row;
    margin: auto;

}

.nav__container__a {
    background-color: #FFF;
    border: 0px solid #FFF;
    padding: 1.7vh;
    cursor: pointer;
}

.nav__container__a_anterior {
    border-radius: 20px 0% 0% 20px;
}

.nav__container__a_siguiente {
    border-radius: 0% 20px 20px 0%;
}

.nav__container__a:hover {
    background-color: rgb(243, 243, 243);
}

.nav__container__a--active{
    background-color: rgb(180, 198, 229);
    border: 1px solid rgb(74, 114, 183) ;
}

.block__search{
    margin: auto;
    margin-top: 1.2vh;
    font-size: 3.2vh;
    padding: 0.8vh;
    border: 3px solid rgb(231, 231, 231);
    border-radius: 3.4vh;
    background-color: rgb(231, 182, 182);
    width: 86vh;
    height: 7vh;
    cursor: pointer;
}

.block__search:hover {
    background-color: rgb(220, 137, 137);
}

.alert {
    grid-column: 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.alert__text {
    background-color: rgb(221, 87, 87);
    padding: 5vh;
    border-radius: 2vh;
}

.modal {
    width: 35vh;
    height: 35vh;
    max-width: 35vh;
    max-height: 35vh;
    background-color: rgb(57, 57, 57);
    border-radius: 2vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: baseline;
    animation: myAnimEntrance 0.9s ease 0s 1 normal forwards;
}

.modal-info {
    width: 120vh;
    height: 35vh;
    background-color: rgb(57, 57, 57);
    border-radius: 2vh;
    margin-bottom: 1vh;
    margin-left: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: baseline;
    animation: modalInfo-data 0.9s ease 0s 1 normal forwards;
}

.modal__container {
    display: flex;
    justify-content: start;
    font-size: 1.7vh;
    margin: 1vh 1.2vh;
}
.modal__container--label {
    background-color: rgb(101, 252, 126);
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5vh;
    border: 2px solid rgb(57, 57, 57);
    border-radius: 20px;
    color: black;
    margin-right: 0.5vh;
}

.modal__container--info {
    margin: auto;
    border: 2px solid rgb(57, 57, 57);
    background-color: rgb(57, 57, 57);
    border-radius: 5px;
}

@keyframes myAnimExit {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scale(0.99);
	}

    60% {
        transform: scale(1);
    }

    90% {
		transform: scale(0.99);
	}
}


@keyframes myAnimEntrance {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes animationFav {   
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
    
}

@keyframes animationFavFixed {   
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modalInfo-data {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

@keyframes modalInfo {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}